{% load i18n %}

    {% if perms.pa.add_orders %}
        <button class="btn btn-default" onclick="location.href=
                '{% url 'order_add_patient' %}'" title="{% trans 'Add new patient order' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-plus"></span></button>
    {% endif %}
    {% if perms.pa.change_orders %}
        <button class="btn btn-info" onclick="location.href=
                '{% url 'order_edit' orders.pk %}'" title="{% trans 'Edit order' %}"
                data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-pencil"></span></button>
    {% endif %}
    