{% extends "base/form_view_base.html" %}
{% load i18n bootstrap3 static %}

{% block meta_title %}
    {% trans "Orders" %}
    {{ orders.number }} {{ orders.patient.name }}
{% endblock %}

{% block title %}
    {% trans "Orders" %}
{% endblock %}

{% block breadcrumb_menu %}
   <li class="active"><a href="{% url 'orders_list' %}">{% trans "Orders" %}</a></li>
<li class="active"><a href="{% url 'order_detail' pk %}">{{ orders.number }}</a></li>
<li class="active">Pathology</li>
{% endblock %}

{% block main_header %}
    {% if orders %}{% trans "Edit order" %}{% else %}{% trans "Create order" %}{% endif%}
    <br>{{ orders.number }} <br>{{ orders.patient.name }}
{% endblock %}

{% block main_toolbar %}
    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'order_detail' pk %}')">
        {% trans "Cancel" %}
    </button>
{% endblock %}

{% block extra_css %}
{{ form.media.css }}
<link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.css" %}">
<link rel="stylesheet" href="{% static "css/select2.min.css" %}">
{% endblock %}
    
{% block extra_js %}
{{ form.media.js }}
<script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/select2.min.js" %}"></script>
{% endblock %}
    

{% block main_inner %}
    {% bootstrap_form form layout='horizontal' %}
{% endblock %}

{% block main_footer %}
    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'order_detail' pk %}')">
        {% trans "Cancel" %}
    </button>
    
    <a href="../pathology_print" target="_blank" class="btn btn-info" role="button">
	    <span class="fa fa-print"></span>&nbsp;{% trans "Print result" %}</a>
{% endblock %}