{% extends "base/table_view_base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load widget_tweaks static %}

{% block meta_title %}
    {% trans "Orders" %}
{% endblock %}

{% block title %}
    {% trans "Orders" %}
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Orders" %}</li>
{% endblock %}

{% block main_header %}
    {% trans "Orders" %}
{% endblock %}

{% block main_toolbar %}
    {% if perms.billing.add_orders %}
        <button class="btn btn-success" onclick="location.href='{% url 'order_patient' %}'"
                title="{% trans 'Create Patient Order' %}" data-toggle="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-plus"></span></button>
    {% endif %}
{% endblock %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static "assets/css/daterangepicker.css" %}">
{% endblock %}

{% block extra_js %}
<script src="{% static "assets/js/moment.min.js" %}"></script>
<script src="{% static "assets/js/daterangepicker.js" %}"></script>
{% endblock %}

{% block main_inner %}

<form method="get">
    <div class="well">
      <h4 style="margin-top: 0"><a href='{{ request.path }}' >Clear</a></h4>
      <div class="row">
      <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.order_date.label_tag }}
          {% render_field filter.form.order_date class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.number.label_tag }}
          {% render_field filter.form.number class="form-control" %}
        </div>
		<div class="form-group col-sm-4 col-md-3">
          {{ filter.form.patient__patient_id.label_tag }}
          {% render_field filter.form.patient__patient_id class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.patient__name.label_tag }}
          {% render_field filter.form.patient__name class="form-control" %}
        </div>
        
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
       
    </div>
  </form>
  
 <script type="text/javascript">
 $('input[name="order_date"]').daterangepicker({locale: {
      format: 'YYYY-MM-DD'
    }});
 $('#daterange').on('apply.daterangepicker', function(ev, picker) {
  console.log(picker.startDate.format('YYYY-MM-DD'));
  console.log(picker.endDate.format('YYYY-MM-DD'));
});
 </script>

    {% render_table orderstable "tables2/bootstrapped-tables2.html" %}
{% endblock %}