{% extends "base/form_view_base.html" %}
{% load i18n bootstrap3 static %}

{% block meta_title %}
    {% trans "Patient" %}
    {{ patients.patient_id }} {{ patients.name }}
{% endblock %}

{% block title %}
    {% trans "Patients" %}
{% endblock %}

{% block breadcrumb_menu %}
    <li class="active"><a href="{% url 'orders_list' %}">{% trans "Orders" %}</a></li>
    <li class="active">{% if patients %}{% trans "Edit Patient" %}{% else %}{% trans "Create Patient" %}{% endif%} </li>
{% endblock %}

{% block main_header %}
    {% if patients %}{% trans "Edit patient" %}{% else %}{% trans "Create patient" %}{% endif%}
    <br>{{ patients.patient_id }} <br>{{ patients.name }}
{% endblock %}



{% block main_toolbar %}
    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'patients_list' %}')">
        {% trans "Cancel" %}
    </button>
{% endblock %}

{% block extra_css %}
{{ form.media.css }}
<link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.css" %}">
{% endblock %}
    
{% block extra_js %}
{{ form.media.js }}

<script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
{% endblock %}

{% block main_inner %}
    {% bootstrap_form form layout='horizontal' %}
    
<script type="text/javascript">
    $(function () {
        $('#id_dob').datepicker({
    format: 'dd/mm/yyyy',
    startDate: '-200y'
});});

</script>

{% endblock %}

{% block main_footer %}
    <button type='submit' class='btn btn-primary'>
        {% trans "Save" %}
    </button>

    <button type="button" class="btn btn-default"
            onclick="window.location.assign('{% url 'patients_list' %}')">
        {% trans "Cancel" %}
    </button>
{% endblock %}